{% extends "layout.twig" %}
{% block content %}

<header class="home-feature">
	{{widget('feature', 'featurewidget', {"header": "Lorem Ipsum", "strapline":"Maecenas libero purus, pharetra ornare", "buttonText":"Maecenas","defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '50','showBtn': true})|raw}}
</header>

<div class="container">
	<section class="section main home-page">
		{{widget('content', 'maintitle', {content: '<h2>NEWEST RANGE</h2>'})|raw}}
		{{widget('ecomproductslist', 'ecomproductslist', {})|raw}}
{# 		{{zone('main')|raw}} #}
	</section>
</div>

{% endblock %}