// ------------------------------
// Table of Contents
// ------------------------------

//	1. Global Styles
//	2. Buttons
//  3. Forms
//	4. Sub Header
//  5. Header
//  6. Feature
//  7. Widgets
//  8. Footer


/*	===============================
	Colour Swatches
	===============================
	"color1": == Background
	"color2": == Contrast colour
	"color3": == Button colour
	"color4": == Title colour
	"color5": == Paragraph colour
	"color6": == Nav text colour
	"color7": == Header BG colour
	"color8": == Contrast color 2
	=============================== */

/*	===============================
	Font Swatches
	===============================
	"font1":  == Heading 1
	"font2":  == Heading 2
	"font3":  == Heading 3
	"font4":  == Heading 4
	"font5":  == Paragraph
	"font6":  == Navigation Text
	"font7":  == Buttons
	"font8":  == Feature Title
	"font9":  == Feature Subtitle
	"font10": == Logo
	=============================== */



// Bootstrap import
@import "@{templateCommon}/basekit-bootstrap.less";

// Mixins
@import "@{templateLocal}/less/mixins.less";

// Widgets Include
@import "@{templateLocal}/less/widgets.less";
@import "@{templateLocal}/less/navigation.less";

// Plugins Import
@import "@{templateLocal}/less/plugins/ecom-plugin.less";


// ------------------------------
//	1. #Global Styles
// ------------------------------

.container {
    width: 90%;
    margin: 0 5%;
    @media only screen and (min-width: 1140px) {
    	width: 960px; // 1140px - 10% for margins
		margin: 0 auto;
	}
}

.row {
	display: -webkit-flexbox;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	 -webkit-flex-align: center;
	     -ms-flex-align: center;
    -webkit-align-items: center;
	        align-items: center;
}


html, body {
	background-color: @color-swatch1;
	font-family:@font-swatch5-font-family;
	font-weight: @font-swatch5-font-weight;
	color:@font-swatch5-color;
	line-height:@font-swatch5-line-height;
	letter-spacing: @font-swatch5-letter-spacing;
	font-size: @font-swatch5-font-size;

	// -webkit-font-smoothing: antialiased;
}



hr.line {
	color: lighten(@color-swatch4, 40%);
}

a,
.widget.twitter a,
.widget.twitter ul li a,
.widget.twitter ul li span a,
.ecom-productlist-info h2 a {
	text-decoration: none;
	color: @color-swatch2;
	&:hover {
		text-decoration: underline;
	}
}

.main .widget {
	margin-bottom: 15px;
}



// ------------------------------
//	2. #Buttons
// ------------------------------

.contactform button.btn,
button.btn,
.btn,
.widget.profile form button,
.widget.paypalbuynow .widget.button.paypal,
.widget.tweet a,
.widget.dropbox button,
.clicktocall a,
.signupform fieldset button,
.blog-search-form button,
.widget.feature .feature-bgimg .content button,
.template-footer .widget.profile .bk-profile-socialicons span a,
.blog-search-form button,
.widget.ecombasket .ecombasket-list-container .ecombasket-summary-wrap .ecombasket-summary-link,
.widget.ecombasketsummary table tr td .checkout-quantitybtn button,
.widget.ecombasketsummary .checkout-order-button
.btn ecom-product-go-to-checkout-btn {
	border: 0;
	cursor: pointer;
	background-color: @font-swatch7-background-color;
	-webkit-appearance: none;
	font-family:@font-swatch7-font-family;
	font-weight: @font-swatch7-font-weight;
	-webkit-font-smoothing: antialiased;
	color:@font-swatch7-color;
	line-height:@font-swatch7-line-height;
	letter-spacing: @font-swatch7-letter-spacing;
	font-size: @font-swatch7-font-size;
	padding: 10px 38px;
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-ms-transition: .2s;
	transition: .2s;
	&:hover {
		background-color: @font-swatch7-background-color-hover;
		text-decoration: none;
	}
}

// Social Icons Buttons
.template-footer .widget.profile .bk-profile-socialicons span a,
.widget.profile .bk-profile-socialicons span a,
.widget.socialicons span a {
	padding: 0;
	text-indent: 9999px;
	overflow: hidden;
}

// Disabled button styles
button:disabled,
button.btn:disabled:hover {
	background-color: @borders-blocks;
	border-color: @borders-blocks;
	color: @color-swatch1;
	cursor: not-allowed;
	&:hover {
		background-color: @borders-blocks;
		border-color: @borders-blocks;
		color: @color-swatch1;
	}
}


// Contact form button fix to match the rest of the forms

.widget.contactform .form-group:nth-child(2) {
	padding-bottom:0;
}

.contactform textarea {
	margin: 0;
	margin-top: 10px;
}



// ------------------------------
//	3. #Forms
// ------------------------------

fieldset .btn,
fieldset button,
form button {
	vertical-align: middle;
}

.form-group {
	padding-bottom: 10px;
	@media @mobile {
		padding: 0;
	}
}

.widget.ecomproduct .ecom-product .ecom-product-info .ecom-product-variation select,
select,
input,
textarea,
.contactform input,
.widget.profile form fieldset input {
	text-indent: 0;
	padding: 8px 9px 10px;
	border: 1px solid @borders-blocks;
	outline: none;
	-webkit-transition: border .2s;
	-moz-transition: border .2s;
	-ms-transition: border .2s;
	transition: border .2s;
	background-color: @color-swatch1;
	margin: 5px 0;
	@media @mobile {
		width: 100%;
	}
	&:hover, &:focus {
		border: 1px solid darken(@borders-blocks, 20%);
		background-color: @color-swatch1;
	}
}

select::-ms-expand {
	display: none;
}



.widget.profile form fieldset input,
input[type=email],
input[type=text],
input[type=search],
.signupform fieldset input {
	height: 44px;
}

.widget.profile, .widget.signupform {
	input[type=email] {
		width: 100%;
	}
	button[type=submit] {
		min-width: 100px;
		padding: 10px 18px;
		@media @mobile {
			margin-top: 6px;
			width: 100%;
		}
	}
}

.signupform fieldset label {
	text-indent: -300px;
	height: 0;
	overflow: hidden;
}

.signupform fieldset button {
	&:hover {
		background-color: lighten(@font-swatch7-background-color-hover,5%);
	}
}

textarea {
	resize: vertical;
}

.widget.ecomproduct .ecom-product .ecom-product-info .ecom-product-variation select,
select {
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	position: relative;
	background-image: image('/images/arrow-down.png');
	background-repeat: no-repeat;
	background-position: right 12px center;
	background-position-x: 95%;
	background-position-y: 53%;
	margin-bottom: 12px;
	padding-right: 33px;

}

.svg {
	.widget.ecomproduct .ecom-product .ecom-product-info .ecom-product-variation select, select {
		background-image: image('/images/arrow-down.svg');
		-webkit-appearance: none;
	}
}

input[type="search"]::-webkit-search-decoration {
	display: none;
}

.widget.tweet a,
.widget.paypalbuynow .widget.button.paypal,
.widget.dropbox button,
.ctc-wrap a {
	padding-left: 40px;
	padding-right: 16px;
	display: inline-block;
	margin: 0;
	@media @mobile {
		text-align: center;
	}
}

.widget.tweet {
	padding: 0;
}




// ------------------------------
// 4. #Sub Header
// ------------------------------


// Header Sub
// ---------------------


.header-sub {
	padding-bottom: 10px;
}

.header-twitter {
	-webkit-box-flex: 1;
	   -moz-box-flex: 1;
	    -webkit-flex: 1 1 auto;
	        -ms-flex: 1 1 auto;
	            flex: 1 1 auto;

	max-width: 80%;


}

.header-basket {
	-webkit-box-flex: 1;
	   -moz-box-flex: 1;
	    -webkit-flex: 1 1 auto;
	        -ms-flex: 1 1 auto;
	            flex: 1 1 auto;
}


// Twitter Widget
// -------------

.header-twitter {
	.widget.twitter ul li {
		font-family: @font-swatch4-font-family;
	}

	// Hides twitter widget at mobile
	@media @tablet {display:none;}
}

// Basket Widget
// -------------

.template-header .widget.ecombasket {
	display: inline;
	float: right;
	.ecombasket-list-container {
		left: auto;
		right: 0;
	}
}

.template-header {

	.widget.ecombasket .ecombasket-pull p {
		font-family: @font-swatch4-font-family;
		text-transform: uppercase;
		padding: 17px 52px 14px 9px;
		border: 2px solid @color-swatch1;
		.transition(@duration:0.1s, @ease:ease-out);

		&:hover {
			text-decoration: none;
			border: 2px solid @border-alt;
		}
	}

	.widget.ecombasket .ecombasket-pull p:before {
		background-image: image('/images/basket.png');
		height: 35px;
		width: 32px;
		position: absolute;
		top: 10px;
		// right: 0;
	}

	.svg .widget.ecombasket .ecombasket-pull p:before {
		background-image: image('/images/basket.svg');
	}
}


// Keyline
// -------------

.keyline {
	border-bottom: 1px solid @borders-blocks;
}




// ------------------------------
// 5. #Header
// ------------------------------

// Header Positioning
// ---------------------

.template-header {
	padding-top: 10px;
	background-color: @color-swatch7;
	border-top: 15px solid @color-swatch2;
}

.header-main {
	padding: 20px 0;

	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;


	@media @tablet {
		display: block;
	}
}

.header-title {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;

	@media @mobile {
		max-width: 80%;
	}
}

.template-nav {

	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1 0 50%;
	-ms-flex: 1 0 50%;
	flex: 1 0 50%;
}




// Header Details (green bar)
// --------------------------

// Applies flexbox to the two containers within the header
// to vertically align them
.header-details {
	padding: 6px 0;
	background-color: @color-swatch3;
	color: @color-swatch1;

	.row {
		display: -moz-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;

		-webkit-box-align: center;
		-moz-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;

		// Back to normal at mobile
		@media @mobile {
			display: block;
		}

	}
	.header-text,
	.header-phone {
		-webkit-box-flex: 1;
		-moz-box-flex: 1;
		-webkit-flex: 1 1 40%;
		-ms-flex: 1 1 40%;
		flex: 1 1 40%;
		@media @mobile {
			text-align: right;
		}
	}
}

// Make all headings white
.header-details {
	h1, h2, h3, h4, p, .bk-profile-phone {
		font-family: @font-swatch5-font-family;
		line-height: @font-swatch5-line-height;
		color: @color-swatch1;
		font-size: 16px;
		line-height: 24px;
		padding-bottom: 0;
	}
}


// Fixes profile signup form in the header
.header-details {
	clear: both;

	a {
		color: @color-swatch1;
	}

	.form-group {
		padding-bottom: 0;
	}

	.widget.profile form {
		margin: 5px 0;
	}

		.widget.profile, .widget.signupform {
		input[type=email] {
			width: inherit;
			margin-right: 0;

			@media @mobile {
				width: 100%;
			}
		}
	}


// Profile Widget Fixes

	.twitter-content {
		p {
			color: @color-swatch1;
			padding: 0;
		}
	}

	.widget.profile .bk-profile-socialicons {
		margin: 0;
		height: 32px;
	}

	.widget.profile .bk-profile-socialicons span a {
		margin-bottom: 0;
	}
}




// Logo / Company Name
// ---------------------

.widget.logo, .widget.companyname {
	display: inline-block;
	vertical-align: middle;
}

.widget.logo {
	text-align: center;
	img {
		margin-right: 11px;
	}
	.img, .logo, & {
		line-height: 0;
	}
}




// ------------------------------
// 6. #Feature
// ------------------------------

// Page
.widget.feature .feature-bgimg .content,
.widget.feature .feature-bgimg {
	min-height: 570px;
	background-position: 25% 50%;

	@media @mobile {
		min-height: 300px;
	}
}


.widget.feature {
	text-align: right;
	padding-bottom: 40px;
	clear: both;
	h2, h3 {
		span {
			padding: 0;
		}
		&:after {
			display: none;
		}
	}
	h2 {
		margin-bottom: 20px;
		border: 5px solid @font-swatch8-color;
		border-left: none;
		border-right: none;
		display: inline-block;
		padding-bottom: 0;
	}
	h3 {
		margin-bottom: 15px;
		border-bottom: none;
		@media @mobile {
			font-size: bkscale(@font-swatch9-font-size, 0.85);
		}
		span {
			padding-top: 5px;
		}
	}
}

.spare.wrapper {
	clear: both;
	float: none;
	margin: 0 auto;
	max-width: 960px;

	padding: 30px;

	// Feature Button
	button.btn.js-feature-btn {
		margin: 0;
	}

}




// ------------------------------
// 7. #Widgets
// ------------------------------

// Twitter
// -----------

.widget.twitter .twitter-profile-pic {
	@media @mobile {
		float: none;
	}
}

.twitter-profile-pic {
	width: 60px;
	padding: 6px 0 0 0;
}
.widget.twitter {
	p {
		display: inline;
	}
	ul li a {
		font-size: @font-swatch5-font-size;
	}
	ul li {
		padding-bottom: 5px;
	}
}

// Click to Call
.ctc-wrap a {
	background-image: image('/images/icon-phone.png');
	background-repeat: no-repeat;
	background-position: 14px;
	background-size: 18px;
}

.svg .ctc-wrap a {
	background-image: image('/images/icon-phone.svg');
}


// Home
.section.main {
	padding: 30px 0;
	h3 {
		border-bottom: none;
	}
}

.header-phone {
	text-align: right;
}

.header-twitter {
	min-height: 1px;
}

.header-details .bk-profile-address p {
	color: @color-swatch1;
	display: inline-block;

	&:after {
		content:" ";
	}

}




// Blog

.blog-search-form label {
	display: block;
}

.blog-search-form input {
	width: 100%;
}

.blog-search-submit-button {
	@media @mobile {
		margin-top: 10px;
	}
}

.blog-post-feature-image-wrap {
	height: 400px;
	margin-bottom: 10px;
	@media @mobile {
		height: 300px;
	}
}

.blog-post-metadata {
	padding: 12px 18px 14px 0;
	margin-top: 15px;
}

.blog-post-item {
	padding-bottom: 30px;
}

.blog-post-category-label, .blog-post-tags-label {
	&:after {
		content: ":";
		position: relative;
	}
}

.blog-post-sharing .btn {
	@media @mobile{
		margin-bottom: 12px;
	}
}





// ------------------------------
// 8. #Footer
// ------------------------------

// Profile Widgets

.footer-wrapper {

	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-align: start;
    -moz-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;

    @media @mobile {
    	display: block;
    	text-align: center;
    }

	// Changes twitter profile colour to white
	.twitter {
		p {
			color: @color-swatch1;
			padding: 0;
		}
	}

	.bk-profile-address p {
		color: @color-swatch1;
	}

	// Keeps signup form inline with the rest of the widgets
	.signupform fieldset label {
		margin-bottom: 0;
	}

	// Signup Form
	.widget.profile input[type=email] {
		@media @mobile {
			padding-right: 0;
			margin-right: 0;
		}
	}
}

.footer-content {
		-webkit-box-flex: 1;
	   -moz-box-flex: 1;
	    -webkit-flex: 1 1 40%;
	        -ms-flex: 1 1 40%;
	            flex: 1 1 40%;

    	margin-right: 20px;
    	max-width: 50%;

    	@media @mobile {
    		margin-right: 0;
    		margin-bottom: 20px;
			max-width: 100%;
    	}
}

.footer-profile {
	-webkit-box-flex: 1;
   -moz-box-flex: 1;
    -webkit-flex: 1 1 40%;
        -ms-flex: 1 1 40%;
            flex: 1 1 40%;

    	margin-left: 20px;
    	max-width: 50%;

    	@media @mobile {
    		margin-left: 0;
			max-width: 100%;
    	}
}

.footer-wrap {
	clear: both;
	background: @color-swatch5;
	border-bottom: 40px solid darken(@color-swatch5, 20%);
}

.template-footer .widget.profile .bk-profile-socialicons span {
	a, a:hover {
		background-color: transparent;
		margin: 0;
	}
}

.template-footer {
	padding-top: 30px;
	padding-bottom: 30px;
	color: @color-swatch1;
	a {
		color: @color-swatch1;
	}
	.widget.content {
		text-align: center;
		overflow: hidden;
	}
	h3 {
		display: inline-block;
		color: @color-swatch1;
		padding-bottom: 1px;
		margin-bottom: 10px;
		position: relative;
		&:before, &:after {
			background: @background-blocks;
			content: "";
			position: absolute;
			height: 1px;
			width: 1000%;
			top: 50%;
			right: 100%;
			margin: 0 10px;
		}
		&:after {
			left: 100%;
		}
	}
}

// Footer
.widget.navigation {
	li {
		list-style: none;
	}
	ul {
		padding-left: 0;
	}
}




// ------------------------------
//  Inherited Styles
// ------------------------------
