<div class="footer-wrap">
	<footer class="container template-footer">
		<div class="footer-wrapper">
			<div class="footer-content">
				{{widget('content', 'contacttitle', {content: '<h3>Lorem Ipsum</h3>'})|raw}}
				{{widget('profile', 'profile1', { 'profileType' : 'socialicons' })|raw}}
			</div>
			<div class="footer-profile">
				{{widget('content', 'pagestitle', {content: '<h3>Lorem Ipsum</h3>'})|raw}}
				{{widget('profile', 'profile2', { 'profileType' : 'form' })|raw}}
			</div>
		</div>
	</footer>
</div>
